#access-groups-edit-page {
  grid-row-gap: 0;
  padding-top: 0.5rem;
}

.access-groups-line {
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.access-groups-view {
  flex: 1;
  background: $color-content-background;
  box-shadow: $box-shadow;
  height: 100%;
  margin: 1em;
}

.access-groups-title {
  display: inline-flex;
  height: 3.5rem;
  border-bottom: 1px solid $color-form-border;
  margin-left: 1rem;
  margin-right: 2rem;
}

.access-groups-component-title-text {
  margin-bottom: 0;
}

.access-groups-index {
  padding: 1rem 3rem;
}

.access-groups-index__title {
  font-size: 1.5rem;
}

.access-groups-index__header {
  display: flex;
  justify-content: space-between;
}

.access-groups-table {
  width: 100%;
  border: $table-border;
  border-collapse: collapse;
}

.access-groups-table__tr:nth-child(odd) {
  background-color: $color-table-stripe;
}

.access-groups-table__th {
  padding: $table-padding;
  border-right: $table-border;
  text-align: left;
  background: $color-table-header;
}

.access-groups-table__cell {
  padding: $table-padding;
  border-right: $table-border;
  height: $table-height;
  max-width: 30rem;
}

.access-groups-table__status-cell {
  width: 10%;
}

#access-groups-edit-button-group {
  margin-left: 0;
  margin-right: 0;
}

.btn--manage-datasets-search {
  min-width: 100px;
  height: 2.3rem;
  margin: 20px 0px;
  padding: 0 50px;
}

.btn--manage-users-search {
  @extend .btn--manage-datasets-search;
}

.manage-datasets-modal--visible {
  @include modal-wrapper();
}

.manage-datasets-modal--hidden {
  display: none;
}

.manage-users-modal--visible {
  @include modal-wrapper();
}

.manage-users-modal--hidden {
  display: none;
}

.access-groups-sub-table-container {
  max-height: 250px;
  overflow-y: auto;
  margin: 0.5rem 0rem;
}

.access-groups-sub-table {
  width: 100%;
  border: $table-border;
  border-top: 0;
  border-collapse: separate;
  border-spacing: 0;
  max-height: 200px;
}

.access-groups-sub-table__tr:nth-child(odd) {
  background-color: $color-table-stripe;
}

.access-groups-sub-table__th {
  padding: $table-padding;
  border-top: $table-border;
  text-align: left;
  background: $color-table-header;
  position: sticky;
  top: 0;
}

.access-groups-sub-table__cell {
  padding: $table-padding;
  height: $table-height;
  max-width: 30rem;
}

.access-groups-sub-table__status-cell {
  width: 10%;
}



.save-edit {
  float: right;
}