/* This file is for your main application css. */

@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  background: $color-background;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: $color-text-primary;
}

.root__main {
  flex: 1;
  background: $color-content-background;
  box-shadow: $box-shadow;
  margin: 1em;
}

@mixin area($block, $element) {
  .#{$block}__#{$element} {
    grid-area: $element;
  }
}

.btn {
  padding: 0.3rem 1.2rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  color: white;
  min-width: 2rem;

  &:hover {
    background-color: lighten(black, 20%);
  }

  &:active {
    background-color: lighten(black, 40%);
  }
}

.error-msg {
  color: red;
}

.btn--cancel {
  padding: 0.4rem 1.7rem;
  font-size: 1.5rem;
}

.label {
  color: #7f7676;
  display: block;
  margin-bottom: 0.3rem;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
}

.label--inline {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0rem;
}

.label--required::after {
  content: " *";
}

.input {
  width: 25rem;
  padding: 0.5rem;
  border: 1px solid #e2e5ea;
  border-radius: 2px;
}

.textarea {
  width: 100%;
  max-width: 35rem;
  height: 65%;
}

@import "./datasets.scss";
@import "./edit.scss";
