@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  background: $color-background;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: $color-text-primary;
}

@mixin area($block, $element) {
  .#{$block}__#{$element} {
    grid-area: $element;
    margin: 10px 0 10px 0;
  }
}

@mixin modal-wrapper {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 998;
  background-color: rgba(255,255,255,0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn {
  padding: 0.3rem 1.2rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;

  &:hover {
    background-color: lighten(black, 20%);
  }

  &:active {
    background-color: lighten(black, 40%);
  }
}

.error-msg {
  color: red;
  display: block; 
  margin: 5px 0 5px 0;
}

.btn--large {
  padding: 0.6rem 1.7rem;
  font-size: 1.5rem;
  min-width: 10rem;
  border: 2px solid black;
  background-color: white;
  color: black;

  &:hover {
    background-color: lighten(#6C787F1A, 10%);
  }

  &:active {
    background-color: lighten(#6C787F33, 20%);
  }

}

.btn--cancel {
    color: black;
    background-color: white;
    border: 1px solid black;

    &:hover {
        color: black;
        background-color: lighten(#6C787F1A, 1%);
    }
}

.btn--review {
    min-width: 10rem;
    min-height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.btn--action {
  color: white;
  background-color: $color-text-link;
  border: 2px solid $color-text-link;
  &:hover {
    background-color: #1279D8;
    border: 2px solid #1279D8;
  }
  &:disabled {
      background-color: #7f7676;
      border: 2px solid #7f7676;
      cursor: default;
  }
}

.btn--save {
  float: right;
  color: $color-text-link;
  background-color: white;
  border: 2px solid $color-text-link;
  margin-right: 1rem;
}

.btn--submit {
  @extend .btn--save;
  background-color: $color-text-link;
  color: white;
}

.btn--submit {
  @extend .btn--save;
  background-color: $color-text-link;
  color: white;

  &:disabled {
    background-color: #a9d3e6;
    border: 2px solid #a9d3e6;
    cursor: default;

    &:hover {
      background-color: #a9d3e6;
      border: 2px solid #a9d3e6;
      color: white;
      cursor: default;
    }
  }
}

.btn--next {
  float: right;
  margin-right: 0;
  text-align: center;
  min-width: 6.5rem;
}

.btn--back {
    margin-right: 1rem;
    text-align: center;
    min-width: 6.5rem;
}

.btn--delete {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  background-color: white;
  border: 1px solid black;
  
  min-width: 10rem;
  min-height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;

  .delete-icon {
    height: 1.65rem;
    width: 1.5rem;
    margin-right: .3em;
    vertical-align: sub;
  }

  &:hover {
    background-color: $color-error;
    color: white;
    border: 1px solid $color-error;
  }
}

.btn--test {
  font-size: 1rem;

  &:disabled, &:disabled:hover {
    background-color: $disabled-background;
  }
}

.btn--publish {
    float: right;
    margin-right: 1rem;
}

.btn--save:hover {
  background: rgba($color-text-link, 10%);
  border: 2px solid $color-text-link;
}
.btn--submit:hover {
  background: white;
  color: $color-text-link;
  border: 2px solid $color-text-link;
}



.label {
  color: #7f7676;
  display: block;
  margin-bottom: 0.3rem;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
}

.label--inline {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0rem;
}

.label--required::after {
  content: " *";
}

.label__subtext {
  font-size: 0.75rem;
  font-style: italic;
}

.input {
  width: 25rem;
  padding: 0.5rem;
  border: 1px solid #e2e5ea;
  border-radius: 2px;
}

.input--text:read-only {
  background: #f3f3f3;
  color: $disabled-background;
}

.input__help-text {
    margin-left: 1rem;
    font-style: italic;
    color: #7f7676;
}

.textarea {
  width: 100%;
  max-width: 35rem;
  height: 65%;
}

.select {
  background-color: white;
  font-size: 1rem;
  width: 26rem;
  height: 2.3rem;
  border: 1px solid #e2e5ea;
}

.select[disabled] {
    background-color: #f3f3f3;
    color: $disabled-background;
}

.page-header {
    background-color: white;
    height: 5rem;
    box-shadow: $box-shadow;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    .material-icons {
        font-size: 1.4em;
        margin-right: 0.25em;
    }

    .page-header__primary {
        display: flex;
    }

    .page-header__secondary {
        display: flex;

        & > span {
            margin: 0 1rem;
        }

        & > span:last-child {
            margin: 0 0 0 1rem;
        }
    }
}

.datasets-link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    &:hover {
        cursor: pointer;
    }
}

.organization-link {
    display: flex;
    align-items: center;
    font-size: 1.1rem;

    &:hover {
        cursor: pointer;
    }
}

.user-link {
    @extend .organization-link
}

.access-groups-link {
    @extend .organization-link
}

.ingestions-link {
    @extend .organization-link
}

.log-out-link {
    display: flex;
    color: $color-text-link;
    align-items: center;
    font-size: 1.1rem;

    .log-out-link__text {
        font-weight: bold;
    }

    &:hover {
        cursor: pointer;
    }
}

@import "./datasets.scss";
@import "./access-groups.scss";
@import "./edit.scss";
@import "./data_dictionary_form.scss";
@import "./ingestions.scss";
@import "./upload_data_dictionary.scss";
@import "./metadata_form.scss";
@import "./url_form.scss";
@import "./finalize_form.scss";
@import "./organizations.scss";
@import "./users.scss";
@import "./extract_steps.scss";
@import "./user.scss";
@import "./search-modal.scss";
@import "./transformations.scss";
