.datasets-index {
  padding: 1rem 3rem;
}

.datasets-index__title {
  font-size: 1.5rem;
}

.datasets-index__search-input-container {
  display: flex;
  width: 50%;
  margin: 0.5rem;
  border: 1px solid $search-unfocused;
}

.datasets-index__search-input-container:focus-within {
  border: 1px solid $search-focused;
}

.datasets-index__search-icon {
  padding: 0.1rem;
  color: $search-unfocused;
  text-align: center;
}

.datasets-index__search-input {
  width: 100%;
  padding: 0.1rem;
  outline: none;
  border: none;
}

.datasets-index__search-input::placeholder,
.datasets-index__search-input::-webkit-input-placeholder,
.datasets-index__search-input::-ms-input-placeholder {
  color: $search-unfocused;
}

.datasets-table {
  width: 100%;
  border: $table-border;
}

.datasets-table__tr:nth-child(odd) {
  background-color: $color-table-stripe;
}

.datasets-table__th {
  padding: $table-padding;
  border-right: $table-border;
  text-align: left;
  background: $color-table-header;
}

.datasets-table__cell {
  padding: $table-padding;
  border-right: $table-border;
  height: $table-height;
}

.datasets-table__ingested-cell {
  text-align: center;
  color: green;
}

.datasets-table__cell--break {
  word-break: break-word;
}

.datasets-table__th--asc {
  -webkit-box-shadow: inset 0 0.2rem 0 0 $header-shadow;
  box-shadow: inset 0 0.2rem 0 0 $header-shadow;
}

.datasets-table__th--desc {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 $header-shadow;
  box-shadow: inset 0 -0.2rem 0 0 $header-shadow;
}

.datasets-table__th--sortable {
  cursor: pointer;
}