$nesting-width: 2rem;
$tick-width: $nesting-width - 0.5rem;
$field-padding: 0.5rem;
$tick-height: 1rem + $field-padding - 0.44;

.data-dictionary-form-edit-section {
  grid-template-columns: 40% 60%;
  grid-column-gap: 2rem;
  grid-template-areas:
    "file-upload ."
    "tree-section edit-section";

  .data-dictionary-field-editor {
    border: solid 1px #C9C7C7;
    display: grid;
    padding: 2rem;
    margin-right: 2rem;
    margin-top: 1.7rem;
    grid-template-columns: 33% 33% 33%;
    grid-auto-flow: column;
    grid-template-areas:
      "name . type"
      "selector . type-info"
      "default default default"
      "description description description"
      "pii masked demographic"
      "biased rationale .";

    .select,
    .input {
      margin: 10px 0 10px 0;
      width: 90%;
    }

    .textarea {
      max-width: 90%;
      height: 7rem;
    }

    .format-label {
      display: inline-flex;
      width: 95%;
      position: relative;

      a {
        position: absolute;
        right: 0;
        font-size: 14px;
      }
    }
  }

  .upload-section {
    display: block;
  }

  .data-dictionary-form-tree-header {
    display: inline-flex;
    width: 100%;
  }

  .data-dictionary-form-tree-header div:first-child {
    margin-left: $field-padding;
    margin-right: auto;
  }

  .data-dictionary-form-tree-header div:last-child {
    margin-right: $field-padding;
  }

  .data-dictionary-form-tree-content {
    border: solid 1px #C9C7C7;
    border-bottom: none;
    padding-bottom: 2rem;
    overflow-y: scroll;
    height: 38.75rem;
  }

  .data-dictionary-tree {
    border-left: 1px solid rgba(201, 199, 199, 0.4);

    .data-dictionary-tree__sub-dictionary {
      margin-left: $nesting-width;
    }

    .data-dictionary-tree-field:before {
      content: '';
      border-top: 1px solid rgba(201, 199, 199, 0.4);
      width: $tick-width;
    }

    .data-dictionary-tree-field {
      display: inline-flex;
      width: 100%;
      color: #696363;
      align-items: center;
      transform: translateY($tick-height);
      cursor: pointer;

      .data-dictionary-tree-field__text {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        padding: $field-padding $field-padding $field-padding 0;
      }
    }

    .data-dictionary-tree-field__text div:nth-child(1) {
      color: #696363;
    }

    .data-dictionary-tree-field__action {
      width: 1.5rem;
      height: 16px;
      background-repeat: no-repeat;
      background-color: white;
      margin-right: 15px;
    }

    .data-dictionary-tree__field--collapsed .data-dictionary-tree-field__action {
      background-image: url('/static/images/expanded.svg');
    }

    .data-dictionary-tree__field--expanded .data-dictionary-tree-field__action {
      background-image: url('/static/images/collapsed.svg');
    }

    .data-dictionary-tree__field--selected .data-dictionary-tree-field__action {
      background-color: #EEEFF1;
    }

    .data-dictionary-tree__field--checked .data-dictionary-tree-field__action {
      background-image: url('/static/images/checked.svg');
    }

    .data-dictionary-tree__field--unchecked .data-dictionary-tree-field__action {
      background-image: url('/static/images/unchecked.svg');
    }

    .data-dictionary-tree__sub-dictionary--collapsed {
      display: none;
    }

    .data-dictionary-tree__field--selected {
      background-color: #EEEFF1;
    }
  }

  .data-dictionary-tree--top-level {
    padding-left: 2rem;
  }

  .data-dictionary-form-tree-footer {
    border: solid 1px #C9C7C7;
    border-top: none;
    display: inline-flex;
    height: 2.5rem;
    width: -moz-available;
    width: -webkit-fill-available;
    width: -fill-available;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    position: relative;
    box-shadow: 0 -1rem 3rem -1rem #C9C7C7;

  }

  .data-dictionary-form__file-upload {
    display: flex;

    .file-input-button {
      display: block;
    }
  }

  .data-dictionary-tree__getting-started-help {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;

    color: #776E6E;

    a {
      background-color: transparent;
      color: $color-text-link;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .data-dictionary-form__add-field-button {
    display: inline-block;
    width: 1.5rem;
    height: 24px;
    background-image: url('/static/images/add_field.svg');
    cursor: pointer;
  }

  .data-dictionary-form__remove-field-button {
    width: 1.5rem;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .data-dictionary-form__remove-field-button {
    width: 1.5rem;
    height: 24px;
  }
}

.overwrite-schema-modal--hidden {
  display: none;
}

.overwrite-schema-modal--visible {
  @include modal-wrapper();
}

.data-dictionary-remove-field-editor--hidden {
  display: none;
}

.data-dictionary-remove-field-editor--visible {
  @include modal-wrapper();
}

.data-dictionary-add-field-editor--hidden {
  display: none;
}

.data-dictionary-add-field-editor--visible {
  @include modal-wrapper();

  .error-msg {
    width: 23rem;
  }
}

.modal-form-container {
  position: relative;
  z-index: 999;
  background-color: white;
  padding: 0 2rem 2rem 2rem;
  -webkit-box-shadow: 0 0 2rem gray;
  box-shadow: 0 0 2rem gray;
  min-width: 600px;

  .add-new-field-header {
    font-size: 22px;
    font-weight: normal;
    color: rgb(70, 70, 70);
  }

  .unsaved-changes-header,
  .confirm-delete-header {
    // replicate h3 sizing
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
  }

  .form-input-container {
    padding: 1rem;

    .form-block {
      margin-bottom: 1rem;
    }

    .form-input {
      display: flex;
      justify-content: space-between;

      .label {
        align-self: center;
      }

      .select {
        margin-left: 1rem;
        width: 18rem;
      }

      .input {
        margin-left: 1rem;
        width: 17rem;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .btn {
      height: 2.5rem;
    }
  }

  .button-container-publish-success {
    display: flex;
    justify-content: space-between;

    .btn {
      height: 2.5rem;
    }
  }
}

.add-default-tooltip {
  text-decoration: underline;
  color: #26adeb;
  font-size: 14px;
  margin-left: 4rem;
}

.file-input-button--loading {
  display: none;
}

.data-dictionary-form__loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #26ADEB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-left: 1rem;
  margin-top: 10px;
}

.data-dictionary-form__loader--hidden {
  display: none;
}

.file-upload-cancel-button--hidden {
  display: none;
}

.data-dictionary-help {
  color: $color-form-label;
  font-size: 1.1rem;
}

.inline {
  width: max-content;

  .label {
    margin-left: 1rem;
    font-size: 1.1rem;
    width: -moz-available;
    width: -webkit-fill-available;
    width: -fill-available;
  }
}

.data_dictionary__error-message {
    color: $color-error;
    margin-bottom: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@include area(data-dictionary-form, file-upload);
@include area(data-dictionary-form, tree-section);
@include area(data-dictionary-form, edit-section);

@include area(data-dictionary-field-editor, name);
@include area(data-dictionary-field-editor, selector);
@include area(data-dictionary-field-editor, type);
@include area(data-dictionary-field-editor, type-info);
@include area(data-dictionary-field-editor, masked);
@include area(data-dictionary-field-editor, biased);
@include area(data-dictionary-field-editor, demographic);
@include area(data-dictionary-field-editor, pii);
@include area(data-dictionary-field-editor, description);
@include area(data-dictionary-field-editor, rationale);
@include area(data-dictionary-field-editor, default);