.datasets-index {
  padding: 1em 3em;
}

.datasets-index__title {
  font-size: 1.5em;
}


.datasets-index__search-input-container {
  display: flex;
  width: 50%;
  margin: 0.5em;
  border: 1px solid $lightgray;
}

.datasets-index__search-input-container:focus-within {
  border: 1px solid $darkgray;
}

.datasets-index__search-icon {
  padding: 0.1em;
  color: $lightgray;
  text-align: center;
}

.datasets-index__search-input {
  width: 100%;
  padding: 0.1em;
  outline: none;
  border: none;
}

.datasets-index__search-input::placeholder,
.datasets-index__search-input::-webkit-input-placeholder,
.datasets-index__search-input::-ms-input-placeholder {
  color: $lightgray;
}

.datasets-table {
  width: 100%;
  border: $table-border;
}

.datasets-table__tr:nth-child(odd) {
  background-color: $color-table-stripe;
}

.datasets-table__th {
  padding: $table-padding;
  border-right: $table-border;
  text-align: left;
  background: $color-table-header;
}

.datasets-table__cell {
  padding: $table-padding;
  border-right: $table-border;
}

.datasets-table__cell--break {
  word-break: break-word;
}

.datasets-table__th--asc{
    -webkit-box-shadow: inset 0 0.2em 0 0 $fadedblack;
    box-shadow: inset 0 0.2em 0 0 $fadedblack;
}

.datasets-table__th--desc {
    -webkit-box-shadow: inset 0 -3px 0 0 $fadedblack;
    box-shadow: inset 0 -3px 0 0 $fadedblack;
}
