.edit-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-row-gap: 4rem;
  padding: 2rem;
}

.form-section {
  border: $table-border;
  padding: 2rem;
  margin-bottom: 4rem;
}

.form-grid {
  display: grid;
  grid-column-gap: 10rem;
  grid-row-gap: 1rem;
}

.edit-button-group {
  grid-template-areas:
    "cancel-btn messages save-btn";
}

.full-width {
  width: 100%;
  box-sizing:border-box;
}

@include area(edit-button-group, cancel-btn);
@include area(edit-button-group, save-btn);
@include area(edit-button-group, test-btn);
@include area(edit-button-group, messages);

@include area(url-form, source-url);
@include area(url-form, source-query-params);
@include area(url-form, source-headers);
@include area(url-form, test-section);


.edit-page__box-header {
  margin-top: -2.75rem;
  background-color: white;
  width: fit-content;
  padding: 0rem 2rem;
  color: #7f7676;
}

.edit-button-group__messages {
  margin: auto;
  text-align: center;
}
