.edit-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-row-gap: 4rem;
  padding: 2rem;
}

.form-section {
  border: $table-border;
  padding: 2rem;
  margin-bottom: 4rem;
}

.form-grid {
  display: grid;
  grid-column-gap: 10rem;
  grid-row-gap: 1rem;
}

.edit-button-group {
  grid-template-areas:
    "cancel-btn messages save-btn";
}

.metadata-form {
  grid-template-areas:
    "top-header ."
    "title last-updated"
    "description spatial"
    "description temporal"
    "format organization"
    "maintainer-name level-of-access"
    "maintainer-email language"
    "release-date homepage"
    "license ."
    "update-frequency benefit-rating"
    "keywords risk-rating";
}

.data-dictionary-form {
  grid-template-columns: 40% 60%;
  grid-column-gap: 2rem;
  grid-template-areas:
    "top-header ."
    "tree-section edit-section";
}

.url-form {
  grid-template-areas:
    "top-header ."
    "source-url source-url"
    "source-query-params source-query-params"
    "source-headers source-headers"
    "test-section .";

  .url-form-table {
    width: 100%;
    font-size: 0.8em;

    .url-form-table__title {
      padding: 0.5rem;
      color: $color-form-label;
      background-color: $color-form-table-header;
      border-left: $table-border;
      border-top: $table-border;
      border-right: $table-border;
    }

    .url-form-table__table {
      width: 100%;
      border-collapse: collapse;

      .url-form-table__row {
        padding: 0;
        border: $table-border;
      }

      .url-form-table__cell {
        padding: 0;
        text-align: left;

        input {
          border: none
        }
      }

      .url-form-table__cell--bordered {
        border-left: $table-border;
      }

      .url-form-table__cell--delete {
        padding: 0.2em;
        text-align: center;
      }

      .url-form-table__cell--header {
        padding: 0.5rem;
      }
    }
  }

  .url-form-table__btn {
    cursor: pointer;
    max-width: 0;
    text-align: center;
  }
}

$nesting-width: 2rem;
$tick-width: $nesting-width - 0.5rem;
$field-padding: 0.5rem;
$tick-height: 1rem + $field-padding - 0.44;

.data-dictionary-form {

  .data-dictionary-field-editor {
    border: solid 1px  #C9C7C7;
    display: grid;
    padding: 2rem;
    margin-right: 2rem;
    margin-top: 1.7rem;
    grid-template-areas: 
      "name . ."
      "type . item-type"
      "description description description" 
      "pii masked demographic"
      "biased rationale ."; 
 
      .select, .input {
        width: 90%; 
      }

      .textarea {
        max-width: 90%;
        height: 7rem;
      }
    }

  .data-dictionay-form-tree-header {
    display: inline-flex;
    width: 100%;
  }

  .data-dictionay-form-tree-content {
    border: solid 1px  #C9C7C7;
    padding-left: 2rem;
    padding-bottom: 2rem;
    overflow-y: scroll;
    height: 40rem;
  }

  .data-dictionay-form-tree-header div:first-child {
    margin-left: $field-padding;
    margin-right: auto;
  }

  .data-dictionay-form-tree-header div:last-child {
    margin-right: $field-padding;
  }

  .data-dictionary-tree {
    border-left: 1px solid rgba(201, 199, 199, 0.4);

    .data-dictionary-tree__sub-dictionary {
      margin-left: $nesting-width;
    }

    .data-dictionary-tree-field:before {
      content: '';
      border-top: 1px solid rgba(201, 199, 199, 0.4);
      width: $tick-width;
    }

    .data-dictionary-tree-field {
      display: inline-flex;
      width: 100%;
      color: #C9C7C7;
      align-items: center;
      transform: translateY($tick-height);
      cursor: pointer;

      .data-dictionary-tree-field__text {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        padding: $field-padding $field-padding $field-padding 0;
      }
    }

    .data-dictionary-tree-field__text div:nth-child(1) {
      color: #7f7676;
    }

    .data-dictionary-tree-field__action {
      width: 3rem;
      height: 24px;
      background-repeat: no-repeat;
      background-color: white;
    }

    .data-dictionary-tree__field--collapsed .data-dictionary-tree-field__action {
      background-image: url('/images/expanded.svg');
    }
    
    .data-dictionary-tree__field--expanded .data-dictionary-tree-field__action {
      background-image: url('/images/collapsed.svg');
    }

    .data-dictionary-tree__field--selected .data-dictionary-tree-field__action {
      background-color: #EEEFF1; 
    }

    .data-dictionary-tree__field--checked .data-dictionary-tree-field__action {
      background-image: url('/images/checked.svg');
    }
    
    .data-dictionary-tree__field--unchecked .data-dictionary-tree-field__action {
      background-image: url('/images/unchecked.svg');
    }

    .data-dictionary-tree__sub-dictionary--collapsed {
      display: none;
    }

    .data-dictionary-tree__field--selected {
      background-color: #EEEFF1;
    }
  }
}

.metadata__error-message {
  text-align: right;
  padding-right: 2em;
  color: $color-error;
}

.metadata__success-message {
  text-align: right;
  padding-right: 2em;
  color: $color-success;
}

.test-status {
  display: inline-block;
  margin-left: 1rem;
}

.test-status__code {
  margin-right: 1rem;
}

.test-status__code--good {
  color: $color-success
}

.test-status__code--bad {
  color: $color-error
}

.full-width {
  width: 100%;
  box-sizing:border-box;
}

@include area(metadata-form, top-header);
@include area(metadata-form, title);
@include area(metadata-form, description);
@include area(metadata-form, format);
@include area(metadata-form, maintainer-name);
@include area(metadata-form, maintainer-email);
@include area(metadata-form, release-date);
@include area(metadata-form, license);
@include area(metadata-form, update-frequency);
@include area(metadata-form, keywords);
@include area(metadata-form, last-updated);
@include area(metadata-form, spatial);
@include area(metadata-form, temporal);
@include area(metadata-form, organization);
@include area(metadata-form, level-of-access);
@include area(metadata-form, language);
@include area(metadata-form, homepage);
@include area(metadata-form, benefit-rating);
@include area(metadata-form, risk-rating);

@include area(edit-button-group, cancel-btn);
@include area(edit-button-group, save-btn);
@include area(edit-button-group, test-btn);
@include area(edit-button-group, messages);

@include area(data-dictionary-form, tree-section);
@include area(data-dictionary-form, edit-section);

@include area(data-dictionary-field-editor, name);
@include area(data-dictionary-field-editor, type);
@include area(data-dictionary-field-editor, item-type);
@include area(data-dictionary-field-editor, masked);
@include area(data-dictionary-field-editor, biased);
@include area(data-dictionary-field-editor, demographic);
@include area(data-dictionary-field-editor, pii);
@include area(data-dictionary-field-editor, description);
@include area(data-dictionary-field-editor, rationale);

@include area(url-form, source-url);
@include area(url-form, source-query-params);
@include area(url-form, source-headers);
@include area(url-form, test-section);


.edit-page__box-header {
  margin-top: -2.75rem;
  background-color: white;
  width: fit-content;
  padding: 0rem 2rem;
  color: #7f7676;
}

.edit-button-group__messages {
  margin: auto;
  text-align: center;
}
