.extract-http-step-form-edit-section {
    grid-template-areas:
        "type ."
        "method ."
        "url url"
        "source-query-params source-query-params"
        "source-headers source-headers"
        "body body"
        "test-section .";

    .extract-http-step-form__body textarea{
        height: 8rem;
        font-family: 'Courier New', Courier, monospace;
    }
}

.extract-step-container {
    padding-left: 2rem;
}

.add-step {
    margin-bottom: 2rem;
}

.example-output {
    color: green;
}

@include area(extract-http-step-form, type);
@include area(extract-http-step-form, method);
@include area(extract-http-step-form, url);
@include area(extract-http-step-form, body);
@include area(url-form, source-query-params);
@include area(url-form, source-headers);
@include area(extract-http-step-form, test-section);
