footer {
    margin-top: auto;
    min-height: 5rem;
}

.page-footer {
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-side-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: auto;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.footer-link {
    margin-right: 30px;
    color: white;
    text-decoration: none;
}