#ingestions-edit-page {
  grid-row-gap: 1rem;
}

.ingestion-line {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.ingestion-metadata-form {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.selected-results-from-search.selected-dataset {
  width: 25rem;
}

.btn--select-dataset-search {
  min-width: 100px;
  height: 2.3rem;
  padding: 0 50px;
}

.ingestions-view {
  flex: 1;
  background: $color-content-background;
  box-shadow: $box-shadow;
  height: max-content;
  margin: 1em;
}

.ingestions-index {
  padding: 1rem 3rem;
}

.ingestions-index__title {
  font-size: 1.5rem;
}

.ingestions-index__header {
  display: flex;
  justify-content: space-between;
}

.ingestions-table {
  width: 100%;
  border: $table-border;
  border-collapse: collapse;
  margin-top: 2em;
}

.ingestions-table__tr:nth-child(odd) {
  background-color: $color-table-stripe;
}

.ingestions-table__th {
  padding: $table-padding;
  border-right: $table-border;
  text-align: left;
  background: $color-table-header;
}

.ingestions-table__cell {
  padding: $table-padding;
  border-right: $table-border;
  height: $table-height;
  max-width: 30rem;
}

.ingestions-table__status-cell {
  width: 10%;
}

$icon-width: 30px;

.ingestion__status {
    display: flex;
    align-items: center;
    justify-content: left;

    .status {
        display: flex;
        align-items: center;
    }

    .status__icon {
        height: $icon-width;
        width: $icon-width;
    }
}

.ingestion__status--success {
    color: green;

    .status__icon {
        background-image: url('/static/images/check.svg');
        height: $icon-width;
        width: $icon-width;
    }
}

.edit-ingestion-title {
  display: inline-flex;
  height: 3.5rem;
  border-bottom: 1px solid $color-form-border;
  margin-right: 2rem;
}
