.ingestions-view {
  flex: 1;
  background: $color-content-background;
  box-shadow: $box-shadow;
  height: 100%;
  margin: 1em;
}

.ingestions-index {
  padding: 1rem 3rem;
}

.ingestions-index__title {
  font-size: 1.5rem;
}

.ingestions-index__header {
  display: flex;
  justify-content: space-between;
}