.metadata-form-edit-section {
  grid-template-areas:
    "title last-updated"
    "data-name spatial"
    "description temporal"
    "format type"
    "top-level-selector organization"
    "maintainer-name level-of-access"
    "maintainer-email language"
    "dataset-owner ."
    "release-date homepage"
    "update-frequency license "
    "keywords benefit-rating"
    "risk-rating .";
}

.submission-metadata-form-edit-section {
  grid-template-areas:
    "title spatial"
    "description temporal"
    "format language"
    "maintainer-name homepage"
    "keywords .";

  .metadata-form__description {
      margin-bottom: 3rem;
  }
}

.metadata__error-message {
  text-align: right;
  padding-right: 2em;
  color: $color-error;
}

.metadata__success-message {
  text-align: right;
  padding-right: 2em;
  color: $color-success;
}

@include area(metadata-form, title);
@include area(metadata-form, description);
@include area(metadata-form, format);
@include area(metadata-form, type);
@include area(metadata-form, top-level-selector);
@include area(metadata-form, maintainer-name);
@include area(metadata-form, maintainer-email);
@include area(metadata-form, dataset-owner);
@include area(metadata-form, release-date);
@include area(metadata-form, license);
@include area(metadata-form, update-frequency);
@include area(metadata-form, keywords);
@include area(metadata-form, last-updated);
@include area(metadata-form, spatial);
@include area(metadata-form, temporal);
@include area(metadata-form, organization);
@include area(metadata-form, level-of-access);
@include area(metadata-form, language);
@include area(metadata-form, homepage);
@include area(metadata-form, benefit-rating);
@include area(metadata-form, risk-rating);
@include area(metadata-form, data-name);
