.metadata-form-edit-section {
  grid-template-areas:
    "title last-updated"
    "description spatial"
    "description temporal"
    "format organization"
    "top-level-selector level-of-access"
    "maintainer-name language"
    "maintainer-email homepage"
    "release-date license "
    "update-frequency benefit-rating"
    "keywords risk-rating";
}

.metadata__error-message {
  text-align: right;
  padding-right: 2em;
  color: $color-error;
}

.metadata__success-message {
  text-align: right;
  padding-right: 2em;
  color: $color-success;
}

@include area(metadata-form, title);
@include area(metadata-form, description);
@include area(metadata-form, format);
@include area(metadata-form, maintainer-name);
@include area(metadata-form, maintainer-email);
@include area(metadata-form, release-date);
@include area(metadata-form, license);
@include area(metadata-form, update-frequency);
@include area(metadata-form, keywords);
@include area(metadata-form, last-updated);
@include area(metadata-form, spatial);
@include area(metadata-form, temporal);
@include area(metadata-form, organization);
@include area(metadata-form, level-of-access);
@include area(metadata-form, language);
@include area(metadata-form, homepage);
@include area(metadata-form, benefit-rating);
@include area(metadata-form, risk-rating);
