.organization-edit-page {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.organizations-line {
  margin-bottom: 1.5rem;
}

.organization-form-edit-section {
    margin: -2rem 1rem 2rem 1rem;

    grid-template-areas:
      "title logo-url"
      "name ."
      "description ."
      "homepage ."
      "data-json-url .";
}

.edit-organization-title {
    display: inline-flex;
    height: 3.5rem;
    border-bottom: 1px solid $color-form-border;
    margin-left: 1rem;
    margin-right: 2rem;
}

.edit-button-group {
    margin: 1rem;
    display: flex;
    // justify-content: space-between;
}

.review-submission{
  margin: 1rem;
}

.harvested-datasets-table {
    margin-top: 3rem;
    width: 100%;
}

.organizations-view {
    flex: 1;
    background: $color-content-background;
    box-shadow: $box-shadow;
    height: 100%;
    margin: 1em;
}

.organizations-index {
    padding: 1rem 3rem;
}

.organizations-index__title {
  font-size: 1.5rem;
}

.organizations-index__header {
    display: flex;
    justify-content: space-between;
}

.organizations-index__search {
    width: 50%;
}

.organizations-index__search-input-container {
  display: flex;
  width: 100%;
  margin: 0.5rem;
  border: 1px solid $search-unfocused;
}

.organizations-index__search-input-container:focus-within {
  border: 1px solid $search-focused;
}

.organizations-index__search-icon {
  padding: 0.1rem;
  color: $search-unfocused;
  text-align: center;
}

.organizations-index__search-input {
  width: 100%;
  padding: 0.1rem;
  outline: none;
  border: none;
}

.organizations-index__search-input::placeholder,
.organizations-index__search-input::-webkit-input-placeholder,
.organizations-index__search-input::-ms-input-placeholder {
  color: $search-unfocused;
}

.organizations-table {
  width: 100%;
  border: $table-border;
  border-collapse: collapse;
}

.organizations-table__tr:nth-child(odd) {
  background-color: $color-table-stripe;
}

.organizations-table__th {
  padding: $table-padding;
  border-right: $table-border;
  text-align: left;
  background: $color-table-header;
}

.organizations-table__cell {
  padding: $table-padding;
  border-right: $table-border;
  height: $table-height;
  max-width: 30rem;
}

.organizations-table__checkbox {
  padding-left: 1rem;
  cursor: pointer;

  input {
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    height: 1.3rem;
    width: 1.3rem;
  }
}

.organizations-table__ingested-cell {
  text-align: center;
  color: green;
}

.organizations-table__cell--break {
  word-break: break-word;
}

.organizations-table__th--asc {
  -webkit-box-shadow: inset 0 0.2rem 0 0 $header-shadow;
  box-shadow: inset 0 0.2rem 0 0 $header-shadow;
}

.organizations-table__th--desc {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 $header-shadow;
  box-shadow: inset 0 -0.2rem 0 0 $header-shadow;
}

.organizations-table__th--sortable {
  cursor: pointer;
}

@include area(organization-form, title);
@include area(organization-form, name);
@include area(organization-form, description);
@include area(organization-form, logo-url);
@include area(organization-form, homepage);
@include area(organization-form, data-json-url);
