.search-modal {
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
}

.search-modal-results-table {
    max-height: 250px;
    overflow-y: auto;
    margin: 0.5rem 0rem;
}

.search-modal-helper-text {
    margin: 1.25rem 0;
}

.search-modal-divider {
    border: 1px solid #C9C6C7;
    margin: 1.25rem 0;
}

.search-modal__search_bar {
    width: 50%;
    margin-right: 1rem;
}

.search-modal-section-header-text {
    font-weight: normal;
    font-size: 1.1rem;
    color: #756C6C;
    margin: 1.25rem 0 0 0;
}

.search-modal__search_bar-input-container {
  display: flex;
  width: 100%;
  margin: 0.5rem 0rem;
  border: 1px solid $search-unfocused;
}

.search-modal__search_bar-icon {
  padding: 0.1rem;
  color: $search-unfocused;
  text-align: center;
}

.search-modal__search_bar-input {
  width: 100%;
  padding: 0.1rem;
  outline: none;
  border: none;
}

.search-modal__search_bar-input::placeholder,
.search-modal__search_bar-input::-webkit-input-placeholder,
.search-modal__search_bar-input::-ms-input-placeholder {
  color: $search-unfocused;
}

.search-title {
    display: inline-flex;
    height: 3.5rem;
    border-bottom: 1px solid $color-form-border;
    margin-left: 1rem;
    margin-right: 2rem;
}

.search-index {
    padding: 1rem 3rem;
}

.search-index__title {
    font-size: 2.0rem;
    font-weight: normal;
    margin: 2.8rem 0 0 0;
}

.search-index__exit {
    display: flex;
    align-items: center;
    font-size: 2.0rem;
    font-weight: normal;
    margin: 2.8rem 0 0 0;
    
    &:hover {
        background-color: lighten(#6C787F1A, 10%);
        cursor: default;
    }

    &:active {
        background-color: lighten(#6C787F33, 20%);
    }
}

.search-index__header {
    display: flex;
    justify-content: space-between;
}

.search-table {
    width: 100%;
    border: $table-border;
    border-top: 0;
    border-collapse: separate;
    border-spacing: 0;
    max-height: 200px;
}

.search-table__tr:nth-child(odd) {
    background-color: $color-table-stripe;
}

.search-table__th {
    padding: $table-padding;
    border-top: $table-border;
    text-align: left;
    background: $color-table-header;
    position: sticky;
    top: 0;
}

.search-table__cell {
    padding: $table-padding;
    height: $table-height;
    max-width: 30rem;
}

.search-table__status-cell {
    width: 10%;
}

.modal-action-text {
  color: $color-text-link;
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    }
}

.save-search {
    float: right;
}

.selected-results-from-search {
    display: flex;
    flex-direction: columns;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 75%;
    max-height: 9rem;
    min-height: 2.75rem;
    margin: 0.5rem 0rem;
    border: 1px solid $search-unfocused;
    line-height: 1;
    padding: 3.5px;
    overflow-y: auto;
    white-space: nowrap;
}

.selected-result-from-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background: $color-success;
    border-radius: 5px;
    color: white;
    margin: 3.5px;
}

.wide-column {
  width: 30%
}

.thin-column {
  width: 10%
}

.selected-result-text {
  padding: 0 10px 0 0;
}

.remove-selected-result {
  color: white;
  font-size: 15px;
  padding-left: 0px;
  padding-right: 0px;
  &:hover {
    cursor: pointer;
    }
}
