.transformation-header {
  border: 1px solid #C9C6C7;
  padding: .6rem 1.6rem;
}

#transformation-forms {
  margin-bottom: 2rem;
}

#add-transformation {
  margin: 0;
}

.transformations--expanded {
  margin-bottom: 1.2rem;
}

.transformation-form {
  border: 1px solid #C9C6C7;
  margin-bottom: 1.6rem;
  padding: 1.6rem 1.6rem;
}

.transformation-form__type {
  margin-top: 1rem;
}