.transformation-header {
  border: 1px solid #C9C6C7;
  padding: .6rem 1.6rem;

  &:hover {
    cursor: pointer;
  }
}

.transformation-header-name {
  display: inline-block;
  margin: 10px;
}

.transformation-actions {
  float: right;
  padding-top: 0.5rem;
}

.transformation-action {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

#add-transformation {
  margin: 0;
}

.transformation-form {
  border: 1px solid #C9C6C7;
  margin-bottom: 1.6rem;
  padding: 1.6rem 1.6rem;
}

.transformation-form__type {
  margin-top: 1rem;
}

.transformation-item {
  animation: open 300ms;
  margin-bottom: 1.6rem;
}

.transformation-edit-form--collapsed {
  display: none;
}

.transformation-field {
  margin-top: 1rem;
}

@keyframes open {
  from {
    max-height: 0;
    opacity: 0%
  }

  to {
    max-height: 277px;
    opacity: 100%
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .transformation-item {
    animation: none !important;
  }
}