.user-edit-page {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.edit-user-title {
    display: inline-flex;
    height: 3.5rem;
    border-bottom: 1px solid $color-form-border;
    margin-left: 1rem;
    margin-right: 2rem;
}

.user-form-edit-section {
    margin: -2rem 1rem 2rem 1rem;
}

.user-form__role {
    margin-top: 35px;
}

.user-form__organizations {
    margin-top: 35px;
}

.associated-organizations-table {
    margin-top: 3rem;
    width: 100%;
}

.btn--add-organization {
    min-width: 100px;
    border-radius: 5px;
    height: 2.3rem;
    background-color: #27cb00;

    &:hover {
        background-color: #2de000;
    }
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
