.user-edit-page {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.edit-user-title {
    display: inline-flex;
    height: 3.5rem;
    border-bottom: 1px solid $color-form-border;
    margin-left: 1rem;
    margin-right: 2rem;
}

.user-form-edit-section {
    margin: -2rem 1rem 2rem 1rem;
}

.user-form__role {
    margin-top: 35px;
}

.user-form__organizations {
    margin-top: 35px;
}

.associated-organizations-table {
    margin-top: 3rem;
    width: 100%;
}

.btn--remove-organization {
    padding: 0.3rem 1.2rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-error;
    color: white;
    border: none;

    &:hover {
        background-color: lighten($color-error, 10%);
    }
}

.roles-table {
    width: 100%;
    border: $table-border;
    border-collapse: collapse;
}

.roles-table__tr:nth-child(odd) {
    background-color: $color-table-stripe;
}
  
.roles-table__th {
    padding: $table-padding;
    border-right: $table-border;
    text-align: left;
    background: $color-table-header;
}

.roles-table__cell {
    padding: $table-padding;
    border-right: $table-border;
    height: $table-height;
    max-width: 30rem;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
