$lightgray: lightgray;
$darkgray: darkgray;

$color-background: #F6F9FF;
$color-content-background: white;

$color-text-primary: black;
$color-text-link: #26ADEB;

$color-table-header: #CEC9C9;
$color-table-stripe: #F6F6F6;

$color-border: #D7D9DB;

$table-border: 1px solid $color-border;
$table-padding: .5em 1.5em;

$box-shadow: 0 0 6px rgba(20, 20, 20, 0.2);
