$search-unfocused: lightgray;
$search-focused: darkgray;
$header-shadow: rgba(0, 0, 0, 0.6);

$color-background: #F6F9FF;
$color-content-background: white;

$color-text-primary: black;
$color-text-link: #26ADEB;

$color-table-header: #CEC9C9;
$color-table-stripe: #F6F6F6;

$table-border: 1px solid #D7D9DB;
$table-padding: .5em 1.5em;
$table-height: 2em;

$box-shadow: 0 0 6px rgba(20, 20, 20, 0.2);
