# describe what versions of erlang / elixir asdf version manager should utilize and enforce.
erlang 23.2.7.5
elixir 1.10.4-otp-23

# these versions support MacOS on both Intel and M1
# elixir version here should align with smartcitiesdata base elixir docker image
