# describe what versions of erlang / elixir asdf version manager should utilize and enforce.
erlang 25.3.2
elixir 1.14.4-otp-25
#elixir 1.15.8-otp-25 # :natural_sort doesn't like this perhaps others

# when updating this file, ensure smart_city and smart_city_test
# tool versions are updated as well

# these versions support MacOS on both Intel and M1
# elixir version here should align with smartcitiesdata base elixir docker image

nodejs 14.17.4