body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  background-color: #00aeef;
  color: #f7f7f7;
  letter-spacing: 0.05rem;
  margin: 1rem;
  text-decoration: none;
  border-width: 0px;
  padding: 1.0rem;
  width: 10rem;
  font-size: small;
}

button:hover {
  color: white;
  background-color: #333;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

#login-button.clickable:hover {
  color: #333;
}

textarea {
  width: 100%;
  border-color: black;
  resize: none;
  min-height: 100px;
  overflow: auto;
  font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

hr {
  margin: 2rem
}

span.line-text {
  position: relative;
  top: -2.65rem;
  background-color: white;
  padding: 1rem;
  color: #636466
}

div.content {
  text-align: center;
  margin: 2rem;
}

div.header {
  background-color: #ebedf0;
  padding: 1rem;
  text-align: center;
}

div.help {
  text-align: left;
  font-size: 20px;
  margin: 2rem;
}

div.help h2 {
  text-align: center;
  margin-bottom: 2rem;
}

div.help .url {
  margin:0px auto;
  user-select: all;
  padding: 20px;
  background:#eceaea;
  border-radius:4px;
  border:1px solid #666666;
  color:#666666;
  cursor:pointer;
  font-size: 0.75em;
}
div.help img {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 40px;
}

p {
  font-size: smaller;
}

p.error {
  color: red;
  font-size: smaller;
}

a {
  color: #00aeef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

div.login-bar {
  color: #00aeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

input {
  width: 100%;
  border-color: black;
  align-self: center;
  height: 50px;
  overflow: auto;
  font-family: inherit;
    font-size: 100%;
    line-height: 1.0;
    margin: 0;
}
