[submodule "streaming_metrics"]
	path = streaming_metrics
	url = git@github.com:SmartColumbusOS/streaming-metrics
[submodule "prestige"]
	path = prestige
	url = git@github.com:SmartColumbusOS/prestige.git
