<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <title>Andi · Data Curator Interface</title>
    <style>
      .root {
        accent-color: <%= get_primary_color() %>;
      }
      .active-tab {
        border-bottom: 3px solid <%= get_primary_color() %>;
      }
      .component-number--expanded {
        background-color: <%= get_primary_color() %>;
        border: 1px solid <%= get_primary_color() %>;
      }
      .btn--primary-outline {
        color:  <%= get_primary_color() %>;
        border: 1px solid  <%= get_primary_color() %>;
      }
      .btn--primary {
        background-color: <%= get_primary_color() %>;
      }
      .data-dictionary-form-edit-section .data-dictionary-field-editor .format-label a  {
        color:  <%= get_primary_color() %>;
      }
      .help-text-label a {
        color: <%= get_primary_color() %>;
      }
      .primary-color {
        color: <%= get_primary_color() %>;
      }
      .primary-color-link a {
        background-color: transparent;
        color: <%= get_primary_color() %>;
      }
      .primary-color-link a:hover {
        background-color: transparent;
      }
      .primary-color-link a:active {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <div class="root">
      <main role="main" class="root__main">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
